.minniemal-experience {
    background: #fff;
    padding: 40px;
    margin-bottom: 40px;
  }
  .minniemal-experience h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .line {
    width: 100px;
    height: 2px;
    background: #ccc;
    margin-bottom: 20px;
  }
  .accordion-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .accordion-item {
    padding-bottom: 8px;
    border-bottom: 2px solid #00042C;
  }
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  